[Unit]
Description=Decibes Pi Monitor
After=network-online.target graphical.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Environment=DISPLAY=:0
ExecStartPre=/bin/sleep 10
ExecStart=/home/pi/decibes/scripts/pi-autostart.sh
Restart=always
RestartSec=15

[Install]
WantedBy=graphical.target
